<div class="panel panel-default">
  <div class="panel-body">
    <ul class="nav nav-pills nav-stacked">
      <li<% if ((@priority.blank?) && (action_name == "index")) %> class="active"<% end %>><%= link_to t("services.sidebar.all"), services_path() %></li>
      <hr class='divider' />
      <li class='disabled'><a><%= t("services.sidebar.view_by_type")%></a></li>
      <% Service::AVAILABLE_PRIORITIES.each do |prior| %>
      <li<% if ((@priority == prior) && (action_name == "index")) %> class="active"<% end %>><%= link_to t("services.priorities.priority_#{prior}"), services_path(:priority => prior) %></li>
      <% end %>
    </ul>
  </div>
</div>