<%= render :partial => "configuration_sidebar" %>
<% if (action_name == "index") %>
<div class="panel panel-default">
  <div class="panel-body">
    <ul class="nav nav-pills nav-stacked">
      <li<% if (@type.blank?) %> class="active"<% end %>><%= link_to t("hosts.sidebar.all"), hosts_path() %></li>
      <hr class='divider' />
      <li class='disabled'><a><%= t("hosts.sidebar.view_by_type")%></a></li>
      <% Host::AVAILABLE_TYPES.each do |htype| %>
      <li<% if (@type == htype) %> class="active"<% end %>><%= link_to t("hosts.sidebar.#{htype.to_s}"), hosts_path(:type => htype) %></li>
      <% end %>
    </ul>
  </div>
</div>
<% end %>