<% content_for :title, t("monitoring.index.title") %>
<div class='row-fluid'>
  <div class='sidebar'>
    <%= render :partial => "sidebar" %>
  </div>
  <div class='content'>
    <%= bootstrap_flash %>
    <h1>Nothing to show here (yet)</h1>
  </div>
</div>