<% content_for :title, t("users.edit.title") %>
<div class='row-fluid'>
  <div class='col-md-3 col-sm-4 sidebar'>
    <%= render :partial => "sidebar" %>
  </div>
  <div class='col-md-9  col-sm-8 content'>
    <div class="page-header clearfix">
      <h1>
        <%= t("users.edit.title") %>
        <small>
          <%= @user.email %>
        </small>
      </h1>
    </div>
    <%= render "form", :resource => @user %>
  </div>
</div>