<% content_for :title, t("users.new.title") %>
<div class='row-fluid'>
  <div class='sidebar'>
    <%= render :partial => "sidebar" %>
  </div>
  <div class='content'>
    <div class="page-header clearfix">
      <h1>
        <%= t("users.new.title") %>
        <small>
          <%= t("users.new.subtitle") %>
        </small>
      </h1>
    </div>
    <%= render "form", :resource => @user %>
  </div>
</div>