<div class='row-fluid'>
  <div class='col-lg-2 col-sm-3 sidebar'>
    <%= render :partial => "sidebar", :params => params %>
  </div>
  <div class='col-lg-10 col-sm-9 content'>
    <div class="page-header">
      <h1>
        <%= t("users.new.title") %>
        <small>
          <%= t("users.new.subtitle") %>
        </small>
      </h1>
    </div>
    <%= render "form", :resource => @user %>
  </div>
</div>