<div class="form-group">
  <div class="col-sm-offset-3 col-md-7 col-sm-9">
    <hr class='divider' />
  </div>
</div>
<div class="form-group">
  <label for="service_probe_config_value" class="col-sm-3 control-label"><%= t("probes.dummy.form.value") %></label>
  <div class="col-md-7 col-sm-9">
    <p class="form-control-static"><%= config[:value] %></p>
  </div>
</div>