// This file provides CSS styling to the views with sidebar style

div.sidebar
  ul.nav.nav-pills.nav-stacked
    li.disabled
      a
        cursor: default

div.content
  div.page-header
    margin-top: 0px

    h1
      margin-top: 0px