<% content_for :title, t("alerts.edit.title") %>
<div class='row-fluid'>
  <div class='sidebar'>
    <%= render :partial => "sidebar" %>
  </div>
  <div class='content'>
    <div class="page-header clearfix">
      <h1>
        <%= t("alerts.edit.title") %>
        <small>
          <%= @alert.name %>
        </small>
      </h1>
    </div>
    <%= render "form", :resource => @alert %>
  </div>
</div>