<div class="form-group">
  <div class="col-sm-offset-2 col-md-7 col-sm-10">
    <hr class='divider' />
  </div>
</div>
<div class="form-group<% if (!errors.blank?) %> has-error<% end %>">
  <label for="service_probe_config_port" class="col-sm-2 control-label"><%= t("probes.ping_udp.form.port") %></label>
  <div class="col-md-7 col-sm-10">
    <%= number_field_tag "probe_config[port]", config[:port], :min => 1, :max => 65535, :step => 1, :class => "form-control", :placeholder => t("probes.ping_udp.form.port_placeholder"), :required => true %>
    <span class="help-block"><%= t("probes.ping_udp.form.port_helper") %></span>
  </div>
</div>