<div class="form-group">
  <div class="col-sm-offset-3 col-md-7 col-sm-9">
    <hr class='divider' />
  </div>
</div>
<div class="form-group">
  <label for="service_probe_config_port" class="col-sm-3 control-label"><%= t("probes.ping_udp.form.port") %></label>
  <div class="col-md-7 col-sm-9">
    <p class="form-control-static"><%= config[:port] %></p>
  </div>
</div>