// This file is the main application CSS. 
// It includes all the style rules for UI components and
// the administration panels.

@import "twbs"
@import "ui/**/*"

/* This is used to add padding because the content is behind the top fixed navbar. */
body
  padding-top: 70px

img.with-border
  border: 1px solid white
  padding: 1px

  &.color
    border-color: #2780e3