// This is the CSS file for Devise (unauthorized users) parts.

@import "twbs"

body
  background-color: #fcfcfc

div.main-container
  width: 300px
  padding: 0px
  margin-top: 8%

  img.logo
    margin: 15px 0px
    padding: 0px
    max-width: 300px

  form
    margin-top: 15px

  h2
    margin: 0px
    margin-bottom: 10px