// This is the CSS file for the error pages.

@import "twbs"

.error-div
  width: 700px
  margin: 0 auto
  margin-top: 8%
  padding: 25px
  text-align: center

  img.cat
    max-width: 550px
    margin-bottom: 20px

  h1.title
    text-align: center
    font-weight: lighter

  div.text
    text-align: center
    font-size: 15px