<% content_for :title do %>
  <%= t("error.unprocessable.title_page").html_safe %>
<% end %>
<h1 class='title'><%= t("error.unprocessable.title_text").html_safe %></h1>
<div class='text'>
  <%= t("error.unprocessable.text").html_safe %>
</div>